<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width = device-width, initial-scale = 1.0">
        <title>CRC Detection</title>
        <!-- css  -->
        <link rel="stylesheet" href="{{ url_for('static', path= '/style.css') }}">
    </head>
    <body>

        <div class="hero">
            <div class="head">Prediction of Colorectal Cancer from Image</div>
            <label for="input-file", id="drop-area">
                <input type="file" accept="image/*", id="input-file" hidden>
                <div id="img-view">
                    <img src="./static/uplod_icon.ico">
                    <p>Drag and drop or click here<br> to upload image</p>
                    <span>Upload any images from desktop</span>
                </div>
            </label>
            <button>Predict</button>
        </div>
        <!-- javascript -->
        <script src="./static/script.js"></script>
    </body>
</html>